.loader{
  position: absolute;
  top:40%;
  left:47%
}

#post-modal { 
  top: 5% !important;
  width: 75% !important ; 
  max-height: 90% !important ; 
  overflow-y: auto !important ;
}  /* increase the width, height and prevent vertical scroll! However, i don't recommend this, its better to turn on vertical scrolling. */

#user-modal{
  max-height: 75% !important;
}

#category-modal {
  height: auto !important;
}

.login {
  margin-top: 70px;
  margin-bottom: 70px;
}

.btn-extended {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}